.fondo-barco {
  background-image: url('/assets/images/fondo-barco.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Ajusta la opacidad según sea necesario */
  z-index: 0;
}
